/gen
/bin
/proguard
/.classpath
/.settings
/lint.xml
*.DS_Store
.idea
APP_Pregnancy_Android.iml
out
/apk
/build
/.gradle
/freeline
/freeline_core
local.properties
/node_modules
package-lock.json